{% extends "base.html" %}

{% block content %}

<div class="container main-container">

    <!-- <div class="title"> -->
    <!-- <h3>{{ title }}</h3> -->
    <!-- </div> -->
    {% include "messages.html" %}

    <form action="{{ url_for('url_shortener.add_link')}}" method="post">
        <div class="ready-links">
            
            <div class="form-group">
                <label for="olFormLink" class="ol-form-label">
                    <span>Original Link</span>
                </label>
                <div class="underline"></div>
                <input id="olFormLink" type="text" name="original_link" class="from-control form-link" value="{{ original_link }}">
            </div>

            <div class="form-group">
                <label for="slFormLink" class="sl-form-label">
                    <span>Shorten Link</span>
                </label>
                <div class="underline"></div>
                <input id="slFormLink" type="text" name="original_link" class="from-control form-link sm-form to-copy-link"
                    value="{{ url_for('url_shortener.redirect_to_short_url', short_link=new_link, _external=True) }}">
                <button type="button" class="copy-btn">Copy</button>
            </div>

        </div>  
    </form>
</div>

<script>
    const readForm = document.querySelector(".to-copy-link");
    const copyBtn = document.querySelector(".copy-btn");
    const originalCopyBtnText = copyBtn.innerText;
    const originalCopyBtnClass = copyBtn.className;
    const tempCopyBtnText = "Copied!";
    const tempCopyBtnClass = "copy-btn copy-btn-success"

    copyBtn.addEventListener("click", () => {
        const valueToCopy = readForm.value.trim();
        if (valueToCopy) {
            navigator.clipboard.writeText(valueToCopy)
                .then(() => {
                    copyBtn.innerText = tempCopyBtnText;
                    copyBtn.className = tempCopyBtnClass;
                    setTimeout(() => {
                        copyBtn.innerText = originalCopyBtnText;
                        copyBtn.className = originalCopyBtnClass;
                    }, 500);
                });
        };
    });

</script>
{% endblock %}