<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/styles/dracula.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>

  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <script>
    function showCustomLinkField(id, btnId) {
      let customLinkForm = document.getElementById(id).style;
      let shortenBtnPos = document.getElementById(btnId);
      let customLinkHolder = document.getElementById("custom-link")

      if (customLinkForm.visibility == "hidden") {
        customLinkForm.visibility = "visible";
        customLinkForm.transition = "all .15s linear";
        customLinkForm.opacity = 1;
        shortenBtnPos.style.transition = "all .2s ease-out";
        shortenBtnPos.style.transform = "translate(-50%, -50%)"
      } else {
        customLinkForm.visibility = "hidden";
        customLinkForm.transition = "all .15s linear";
        customLinkForm.opacity = 0;
        shortenBtnPos.style.transition = "all .2s ease-out";
        shortenBtnPos.style.transform = "translate(-50%, -155%)"
        customLinkHolder.value = ""
      }
    }
  </script>

  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Welcome to URL Shortener</title>
  {% endif %}
</head>

<body>
  <!-- <input type="checkbox" id="main-navigation-toggle" class="btn btn--close" title="Toggle main navigation" /> -->
  <!-- <label for="main-navigation-toggle"> -->
    <!-- <span></span> -->
  <!-- </label> -->
  <header>{% include "menu.html" %}</header>

  {% block content %}{% endblock content %}

  <div class="footer">{% block footer %}{% endblock footer %}</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</body>

</html>