<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
<!-- <div class="container"> -->
<!-- <a class="navbar-brand" href="./">URL Shortener</a> -->
<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" -->
<!-- aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->
<!-- <span class="navbar-toggler-icon"></span> -->
<!-- </button> -->
<!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
<!-- <ul class="navbar-nav"> -->
<!-- <li class="nav-item"> -->
<!-- <a class="nav-link" href="./statistics">Statistics</a> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- </nav> -->


<!-- Здесь может быть изображение логотип -->
<a href="/" class="logo">Shortener</a>
<nav>
  <ul class="nav__links">
    <li> <a href="./statistics" class="nav__item">Statistics</a></li>
    <li> <a href="#" class="nav__item">Projects</a></li>
    <li> <a href="#" class="nav__item">Some link</a></li>
    <div class="nav__item_underline"></div>
  </ul>
</nav>
<a href="#" class="cta"><button class="contact-btn">Contact</button></a>